*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
li {
    margin: 0;
}

body {
    line-height: 1.5;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
}

main,
#input_text {
    font-family: sans-serif;
    font-size: 1.1rem;
}

#input_area {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 1em;
}

#input_text,
#add_btn {
    border-radius: 5px;
    padding: 0.5em 1em;
}

#input_text {
    background-color: aliceblue;
    border: 2px solid yellowgreen;
    color: rgb(29, 70, 255);
    width: 40%;
}

#add_btn {
    background-color: cornflowerblue;
    border: none;
    color: white;
    font-size: 1rem;
}